<h1>Welcome!</h1>
<div class="container">
  Welcome {{ name }}.
  <!-- <button (click)="handleLogout()">Logout</button> -->

  <!-- Use routerLink to go to the list-todos page -->
  You can manage your todos <a routerLink="/todos">here</a>
</div>
<!-- <div class="container">
  Click here to get a customized Welcome message
  <button (click)="getWelcomeMessage()" class="btn btn-success">
    Get Welcome Message
  </button>
</div> -->
<div class="container">
  Click here to get a customized Welcome message
  <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">
    Get Welcome Message
  </button>
</div>
<!-- Show this message only when welcomeMessage has a value -->
<div class="container" *ngIf="welcomeMessageFromService">
  <h2>Your Customized Welcome Message</h2>
  <!-- message which comes back from the component -->
  {{ welcomeMessageFromService }}
</div>

<!-- Show this message only when an error occurs -->
<div class="container" *ngIf="errorMessageFromService">
  <h2>Error Message</h2>
  <!-- message which comes back from the component -->
  {{ errorMessageFromService }}
</div>

<div class="container" *ngIf="pathVariableMessageFromService">
  <h2>Error Message</h2>
  <!-- message which comes back from the component -->
  {{ errorMessageFromService }}
</div>
